@charset "UTF-8";

html,
body,
.wrapper {
  height: 100%;
}

body {
  font-family: "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100% !important;
  color: #ccc;
  background: #fff;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #333;
  &:hover {
    color: #000;
  }
}

img {
  max-width: 100%;
  vertical-align: top;
}

.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.fl {
  float: left !important;
}

.fr {
  float: right !important;
}

.text-l {
  text-align: left;
}

.text-r {
  text-align: right;
}

.text-c {
  text-align: center;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.flex {
  display: flex;
}

.flex-item {
  flex: 1;
}

.flex-vc {
  align-items: center;
}

.flex-hc {
  justify-content: center;
}

.fb {
  font-weight: bold;
}

.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.layout {
  .part-left {
    width: 25%;
    min-height: 100vh;
    padding: 40px 40px 0 0;
    border-right: 1px solid #f7f7f7;
    background-repeat: no-repeat;
    background-size: cover;
    .sidebar {
      position: fixed;
      top: 40px;
      left: calc(25% - 200px);
      width: 200px;
      .logo {
        display: block;
        text-align: center;
        margin-bottom: 50px;
        img {
          height: 70px;
        }
      }
      .menu {
        font-size: 13px;
        .menu-item {
          display: block;
          text-align: right;
          padding: 10px 20px 10px 0;
          color: #8c8c8c;
          border-bottom: 1px solid #f7f7f7;
          &:hover {
            color: #666;
          }
        }
      }
    }
  }
  .part-right {
    padding: 40px 0 100px 80px;
    .page {
      width: 650px;
    }
  }
}

.footer {
  padding: 40px 0 20px;
  border-top: 1px solid #f7f7f7;
  font-size: 13px;
  text-align: center;
}
