@charset "UTF-8";

html,
body,
.wrapper {
  height: 100%;
}

body {
  font-family: "Hiragino Sans GB","Microsoft YaHei",\5FAE\8F6F\96C5\9ED1,tahoma,arial,simsun,\5B8B\4F53;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100% !important;
  background: #fff;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #333;
  &:hover {
    color: #000;
  }
}

img {
  max-width: 100%;
  vertical-align: top;
}

.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.fl {
  float: left !important;
}

.fr {
  float: right !important;
}

.text-l {
  text-align: left;
}

.text-r {
  text-align: right;
}

.text-c {
  text-align: center;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.flex {
  display: flex;
}

.flex-item {
  flex: 1;
}

.flex-vc {
  align-items: center;
}

.flex-hc {
  justify-content: center;
}

.fb {
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  width: 600px;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
  background: #fff;
}

.header {
  flex: 0 0 auto;
  padding: 60px 0 30px;
  margin-bottom: 30px;
  text-align: center;
  border-bottom: 1px dotted #eaeaea;
  .logo {
    margin-bottom: 20px;
    .inner {
      display: inline-block;
      img {
        height: 70px;
      }
    }
  }
  .title {
    margin-bottom: 40px;
    .inner {
      color: #000;
      font-size: 18px;
      letter-spacing: 5px;
    }
  }
  .description {
    margin-bottom: 40px;
    font-size: 13px;
    color: #999;
  }
  .menu {
    font-size: 13px;
    color: #999;
    .menu-item {
      margin: 0 10px;
      padding: 0 10px;
    }
  }
}

.scroll-menu {
  display: none;
  position: fixed;
  z-index: 9;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: 13px;
  color: #999;
  background: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  transition: transform 0.25s ease-in-out;
  will-change: transform;
  transform: translateY(-50px);
  &.show {
    transform: translateY(0);
  }
  .menu-item {
    margin: 0 10px;
    padding: 0 10px;
  }
}

.layout {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
  color: rgba(0,0,0,.6);
  padding: 40px 0 20px;
  border-top: 1px dotted rgba(0,0,0,.02);
  font-size: 13px;
  text-align: center;
}
